<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
    <link rel="stylesheet" href="http://localhost/cursos/sistemadelogin/assets/css/style_dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <header class="header--content">
        <div class="content_area">

            Bem Vindo {{name_user}}

            <a href="http://localhost/cursos/sistemadelogin/dashboard/logout">Sair</a>

        </div>
    </header>
    
    <section class="box_dashboard">
        
        <div class="content_area">
            <h1>DASHBOARD</h1>
        </div>

    </section>

</body>
</html>